/*

!/.gitignore
!/.gemrc

!/autostart/
!/autokey/
!/kitty/
!/nvim/
nvim/.netrwhist
!/tig/

!/bat/
!/dive/
/dive/dive.log
!/rouge/
!/sakura/
!/zsh/
!/.vscode/
/.vscode/extensions/

!/pop-shell/

!/Code/
/Code/*
!/Code/User/
/Code/User/*
!/Code/User/settings.json

!/JetBrains/
/JetBrains/*
!/JetBrains/*/
/JetBrains/*/*
!/JetBrains/*/colors/
!/JetBrains/Toolbox/
/JetBrains/Toolbox/*
!/JetBrains/Toolbox/.settings.json
