/*

!/.gitignore
!/.gemrc

!/autostart/
!/kitty/
!/nvim/
nvim/.netrwhist

!/dive/
!/rouge/
!/sakura/
!/zsh/
!/.vscode/
/.vscode/extensions/

!/Code/
/Code/*
!/Code/User/
/Code/User/*
!/Code/User/settings.json

!/JetBrains/
/JetBrains/*
!/JetBrains/*/
/JetBrains/*/*
!/JetBrains/*/colors/
!/JetBrains/Toolbox/
/JetBrains/Toolbox/*
!/JetBrains/Toolbox/.settings.json
dive/dive.log
